<% if user_signed_in? && current_user.admin? %>
<div class="col-md-8 profilebox">

  <h1>Editing Artist</h1>

  <%= render 'form', artist: @artist %>

  <%= link_to 'Show', @artist %> |
  <%= link_to 'Back', artists_path %>
</div>
<% else %>
<% end %>
