<% if user_signed_in? %>
  <div class="col-md-2 homelogin">
    <p>Welcome, <%= current_user.fname %></p>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </div>
  <div class="profilebox col-md-offset-2 col-md-4">
    <h1>New Ticket</h1>
    <%= render 'form', ticket: @ticket %>
  </div>
<% else %>
  <%= render file: "devise/sessions/new" %>
<% end %>
</div>
