<% if user_signed_in? %>
  <div class="col-md-2 homelogin">
    <p>Welcome, <%= current_user.fname %></p>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
    <%= render file: "devise/sessions/new" %>
<% end %>
<div class="col-md-7 col-md-offset-1 aboutdisplay">

<p class="abouttext">The Dad Art Museum is an institution presenting the newest, most important evolutions in international dad art. Our innovative and timely exhibitions, education and  and community happenings actively engage audiences in thought-provoking experiences of art, culture, and society.</p>
</div>
