<% if user_signed_in? && current_user.admin? %>
<div class="col-md-8 profilebox">

  <h1>Editing Medium</h1>

  <%= render 'form', medium: @medium %>

  <%= link_to 'Show', @medium %> |
  <%= link_to 'Back', media_path %>
</div>
<% else %>
<% end %>
