/*
*= require_tree
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "artists";
@import "arts";
@import "locations";
@import "media";
@import "profile";
@import "static";
@import "tickets";


html {
  // this thread will be for the general layout of the page
  background-color: darkred;
  body {
    background-color: sienna;
    margin: 0;
    line-height: 18px;
    .abovenav {
      background-color: darkred;
      min-height: 20vh;
      border-bottom: 2px black solid;
      a:hover {
        text-decoration: none;
      }
      .logoish {
        width: 8%;
        margin-left: 15%;
        p {
          font-size: 5vh;
          color: goldenrod;
          margin-bottom: 0;
          padding-top: 2vh;
          display: inline-block;
          font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        }
        span {
          font-size: 2vh;
          margin-bottom: 0;
          color: tan;
          font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
        }
      }
    }
    nav {
      background-color: sienna;
      text-align: right;
      min-height: 5vh;
      ul {
        list-style: none;
        max-width: 80%;
        li {
          display: inline-block;
          padding-left: 20px;
          color: darkred;
          a {
            text-align: center;
            color: darkred;
          }
          a:hover {
            text-decoration: none;
            color: goldenrod;
          }
        }
        li:hover {
          color: goldenrod;
          cursor: pointer;
        }
      }
    }
    .yieldbody {
      max-width: 80%;
      margin: auto;
      min-height: 72vh;
      // background-color: sienna;
    }
    footer {
      min-height: 3vh;
      text-align: right;
      background-color: brown;
      position: fixed;
      .footertext {
        padding-right: 50px;
      }
    }
  }
}

// more personalized sections of pages
.homelogin {
  background-color: tan;
  border: 10px outset goldenrod;
  margin-top: 80px;
  input {
    max-width: 100%;
  }
}
.homedisplay {
  background-color: rgba(210,180,140,0.5);
  border: 10px outset goldenrod;
  border-radius: 15px;
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
}
.profilebox {
  background-color: tan;
  border: 10px outset goldenrod;
  border-radius: 15px;
  min-height: 5vh;
  h3 {
    margin: 0;
  }
}
.artistpic {
  margin: 1vh;
}
.mediumstyles {
  display: inline-block;
  font-weight: normal;
}
.galdiv {
  text-align: center;
}
.galimg {
  display: inline-block;
  margin: 10px;
  img {
  max-height: 20vh;
  max-width: 20vw;
  }
}
form div {
  margin: 5px;
}
.carouseltext {
  margin: 10px;
}
#cara1, #cara2, #cara3 {
  font-size: 20px;
  margin: 10px;
}
#cara1:hover, #cara2:hover, #cara3:hover {
  color: firebrick;
  cursor: pointer;
}
.homething {
  background-image: url('http://pixel.nymag.com/imgs/daily/intelligencer/2016/06/10/10-daddy-necklace.w710.h473.2x.jpg');
  background-size: cover;
  background-position: center;
}
.abouttext {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  // padding-top: 40px;
}
.ticketdisplay, .aboutdisplay {
  background-color: rgba(210,180,140,0.5);
  border: 10px outset goldenrod;
  border-radius: 15px;
  height: 30vh;
  max-height: 30vh;
  // margin-top: 100px;
  overflow-y: scroll;
}
.ticketdiv {
  text-align: left;
  h2 {
    font-size: 30px;
  	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  	color: goldenrod;
  }
}
th {
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	padding: 11px;
}
td {
	font-size: 15px;
  padding: 5px 11px;
}
a {
  color: darkred;
}
a:hover {
  text-decoration: none;
  color: goldenrod;
}
#error_explanation {
  h2 {
    display: none;
  }
  li {
    font-size: 10px;
  }

}
