// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	font-size: 40px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	color: goldenrod;
}
th {
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	padding: 11px;
}
td {
	font-size: 15px;
}
